[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/matrix-screensave"]
	path = bundle/matrix-screensave
	url = https://github.com/uguu-org/vim-matrix-screensaver.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "/Users/maximbert/.vim/bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/git"]
	path = bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/commandT"]
	path = bundle/commandT
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/multiple-cursors"]
	path = bundle/multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vimroom"]
	path = bundle/vimroom
	url = https://github.com/mikewest/vimroom.git
[submodule "bundle/YankRing"]
	path = bundle/YankRing
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/jsbeautify"]
	path = bundle/jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify.git
[submodule "bundle/polyglot"]
	path = bundle/polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "bundle/reveal-in-finder"]
	path = bundle/reveal-in-finder
	url = https://github.com/henrik/vim-reveal-in-finder.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/fanfingtastic"]
	path = bundle/fanfingtastic
	url = https://github.com/dahu/vim-fanfingtastic.git
[submodule "bundle/ctrlp-modified"]
	path = bundle/ctrlp-modified
	url = https://github.com/jasoncodes/ctrlp-modified.vim.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/ag"]
	path = bundle/ag
	url = https://github.com/rking/ag.vim
[submodule "bundle/tmux-navigator"]
	path = bundle/tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "bundle/airline-themes"]
	path = bundle/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/tern"]
	path = bundle/tern
	url = git@github.com:ternjs/tern_for_vim.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
[submodule "bundle/tmuxline"]
	path = bundle/tmuxline
	url = git@github.com:edkolev/tmuxline.vim.git
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
